.formFieldsWrapper {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.actionsWrapper {
  margin-top: 2rem;
}

.button {
  margin-bottom: 1rem;
}

.block {
  width: 100%;
}

.dangerButton {
  background: red;  
}

.field {
  margin-bottom: 1rem;
}

.formField {
  width: 100%;
  margin-top: 0.4rem;
}

.error {
  color: #c80000;
  font-weight: 500;
  font-size: .75rem;
  margin-top: .25rem;
}